<h1>Select your User</h1>

<ul>
    {{#each userSpecs}}
    <li><a href="/user/{{_id}}">{{name}}</a></li>
    <li>at: {{restaurant}}</li>
    <li><a href="/user/{{_id}}/menu">Menus:</a> {{menus.length}}</li>
    <li>Kitchens: {{kitchens.length}}</li>
    {{/each}}
</ul>

<a href="/user/new">add new user</a>

<a href="/">return</a>