
<h1>Welcome {{userSpecs.name}}</h1>

<h2>from {{userSpecs.restaurant}}</h2>

<h3>Your <a href="/user/{{userId}}/menu">Menus:</a> 
    {{#each userSpecs.menus}}
        {{name}}
    {{/each}}
</h3>


<h3>Your Kitchens: {{userSpecs.kitchens}}</h3>
{{!-- access point to kitchens --}}
<h4>
    <form action="/user/{{userSpecs._id}}?_method=DELETE" method="POST">
        <button type="submit">Delete User</button>
    </form>
</h4>

<a href="/user/{{userId}}/edit">edit user</a>

<a href="/user">return</a>