
<h1>Welcome {{userSpecs.name}}</h1>

<h2>from {{userSpecs.restaurant}}</h2>

<h3>Your Menus:
    {{#each userSpecs.menus}}
        <a href="/user/{{../userId}}/menu/{{_id}}">{{name}}</a>
    {{/each}}
</h3>
<a href="/user/{{userId}}/menu/new">Add New Menu</a>

<h3>Your Kitchens:
 {{#each userSpecs.kitchens}}
        <a href="/user/{{../userId}}/kitchen/{{_id}}">{{name}}</a>
    {{/each}}
</h3>
<a href="/user/{{userId}}/kitchen/new">Add new Kitchen</a>

<h4>
    <form action="/user/{{userSpecs._id}}?_method=DELETE" method="POST">
        <button type="submit">Delete User</button>
    </form>
</h4>

<a href="/user/{{userId}}/edit">edit user</a>

<a href="/user">return</a>