<h1>{{kitchen.name}} Kitchen</h1> 


<a href="/user/{{userId}}/kitchen/{{kitchenId}}/que/new">add new Que</a>

     <h3> Ovens: {{kitchen.ovens}}</h3>
     <h3> Stoves: {{kitchen.stoves}}</h3>


      <form action="/user/{{userId}}/kitchen/{{kitchen._id}}?_method=DELETE" method="POST">
         <button type="submit">Delete Kitchen</button>
     </form>

<a href="/user/{{userId}}/kitchen/{{kitchenId}}/edit">Edit Kitchen</a>
<a href="/user/{{userId}}">return</a>