<div class="container light-green lighten-3 que">
    <div class="dishName">
        {{dish.name}}
    </div>
    <div class="dish">
        <p>Price: {{dish.price}}</p>
        <p>Ingredients: {{dish.ingredients}}</p>
        <p>Cook Time: {{dish.cookTime}}</p>
        <p>Ovens: {{dish.ovensNeeded}}</p>
        <p>Stoves: {{dish.stovesNeeded}}</p>
    </div>
</div>

<div>
    <form class="delete" action="/user/{{userId}}/menu/{{menuId}}/dish/{{dish._id}}?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete Dish</button>
    </form>
</div>

<div class="edit row">
    <a href="/user/{{userId}}/menu/{{menuId}}/dish/{{dish._id}}/edit">Edit Dish</a>
</div>

<div class="return row">
    <div class="col s3">
        <a href="/user/{{userId}}/menu/{{menuId}}">Return</a>
    </div>
</div>