
<h1> User Menus</h1>
{{#each menus}}
    <li>{{name}}</li>
    <p>
    {{#each dishes}}
    <li>{{name}}</li>
    <li>{{price}}</li>
    {{/each}}
    </p>
{{/each}}

<a href="/user/{{userId}}/menu/new">Add New Menu</a>
<a href="/user/{{userId}}">return</a>