<h1>{{menu.name}} Menu</h1> 

<h3> Dishes: 
    <ul>
    {{#each menu.dishes}}
    <li><a href="/user/{{../userId}}/menu/{{../menuId}}/dish/{{_id}}">{{name}}</a>
    <form action="/user/{{../userId}}/kitchen?_method=PUT" method="POST">
         <button type="submit">order^</button>
    </form>
    </li>
    {{/each}}
    </ul>
     </h3>
     <a href="/user/{{userId}}/menu/{{menuId}}/dish/new">add new dish</a>

     <form action="/user/{{userId}}/menu/{{menu._id}}?_method=DELETE" method="POST">
         <button type="submit">Delete Menu</button>
     </form>

<a href="/user/{{userId}}/menu/{{menu._id}}/edit">Edit menu name</a>
<a href="/user/{{userId}}">return</a>
